.width90{
    width:97%;
    margin:auto;
    margin-top: 1%;
}
  .has-error{
    color:red
  }
  .is-valid{
    color:green
  }
  .has-errors{
    border: 1px solid red
  }
  .its-valid{
   border: 1px solid green
  }