<div *ngIf="!toReset" class="row form" id="row-forgot">
  <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
    <div class="card auth" id="card-auth-forgot">
      <div class="card-body auth-card" id="card-body-forgot">
        <div class="text-center">
          <div id="text-forgot" class="title">{{ 'forgot.title' | translate}}</div>
          <p id="p-forgot">{{ 'forgot.subTitle' | translate}}</p>
          <div [formGroup]="entityForm" class="input-group">
            <input aria-label="username address" class="form-control" formControlName="username" id="username-forgot"
                   name="username" placeholder="Username address" type="text">
          </div>
        </div>
        <div class="col-sm-12 mt-2 pl-0 pr-0">
          <button (click)="reset()" class="btn btn-primary text-uppercase w-100" id="res-forgot"
                  type="button">{{ 'commonMessages.send' | translate}}</button>
        </div>

        <div class="col-sm-12 mt-1 pl-0 pr-0">
          <button (click)="back()" class="btn btn-secondary w-100 text-uppercase"
                  id="ind-forgot">{{ 'commonMessages.back' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
