.form {
    width: 75%;
    position: absolute;
    left: 15%;
    top: 15%;
}
.input-email {
    width: 75%;
    position: relative;
    right: 15%;
    height: 20%;
}
.valid {
    color: red;
}
.title {
    padding: 8%;
    font-size: 25px;
}
.input-group {
    padding: 20px;
    width: 110%;
    right: 5%
}