<div class="row form" id="row-reset">
    <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
        <div class="card auth" id="card-auth-reset">
            <div class="card-body auth-card" id="card-body-reset">
                <form [formGroup]="entityForm" (ngSubmit)="onSubmit()" id="sub-reset">
                    <h5 class="input-txt" id="txt-reset">{{'forgot.title_reset' | translate}}</h5>
                    <span class="alert alert-success" role="alert" *ngIf="debug_mode">
                        Code is {{test_code}}
                    </span>
                    <div class="form-group">
                       
                        <input type="text" class="form-control" formControlName="code" placeholder="Code" id="code-reset">

                        <span class="validation-error valid" id="req-code-reset"
                            *ngIf="submitted &&  entityForm.controls.code.errors?.required">{{'validation.code_required' | translate}}</span>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" formControlName="password" placeholder="Password" id="pwd-reset">

                        <span class="validation-error valid" id="req-pass-reset"
                            *ngIf="submitted &&  entityForm.controls.password.errors?.required">
                            {{'validation.pwd_required' | translate}}
                        </span>
                    </div>

                    <div class="form-group">

                        <input type="password" class="form-control" formControlName="repeatPassword"
                            placeholder="Repeat password" id="rep-pass-reset">

                        <span class="validation-error valid" id="req-rep-pass-reset"
                            *ngIf="submitted && entityForm.get('repeatPassword').errors?.required">
                            {{'validation.confirm_pwd_required' | translate}}
                        </span>
                        <span class="validation-error valid" id="notmatch-reset"
                            *ngIf="submitted && entityForm.get('repeatPassword').errors?.confirmPasswordValidator">
                            {{'validation.pwd_match' | translate}}
                        </span>
                    </div>
                    <button type="submit" class="btn btn-primary" id="reset-reset" style="width: 100%;">{{'login.button.reset' | translate}}</button>
                </form>
            </div>
        </div>
    </div>
</div>