<div class="col-md-12 m-auto">
  <div class="d-flex justify-content-around">
    <div class="col-md-3 p-1 pl-md-5" ><i class="fa fa-user"></i><button class="btn pl-1 m-0">CLIENTE</button></div>
    <div class="col-md-3 p-1 pl-md-5" ><i class="fa fa-credit-card"></i> <button class="btn pl-1 m-0"> PAGAMENTO</button></div>
    <div class="col-md-3 p-1 pl-md-5" ><i class="fa fa-lightbulb"></i> <button class="btn pl-1 m-0">FORNITURA GAS</button></div>
    <div class="col-md-3 p-1 pl-md-5" ><i class="fa fa-file"></i><button class="btn pl-1 m-0">FILES ALLEGATI</button></div>
  </div>
  </div>
  <div class="progress">
    <div class="progress-bar rounded {{color}}" role="progressbar" [ngStyle]="{'width': value+'%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>