
<nb-card>
	<nb-card-header >
		<h1 class="text-center text-info"> Riepilogo fatture</h1>

	</nb-card-header>

	<nb-card-body>
	  <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustom($event)">
       <ng2-smart-table-pager *ngIf="isPagerDisplay"
                        [source]="source"
                        [perPageSelect]="perPageSelect"
                        (changePage)="changePage($event)">
</ng2-smart-table-pager>
	  </ng2-smart-table>
	</nb-card-body>
  </nb-card>

