.form {
    width: 75%;
    position: absolute;
    left: 15%;
    top: 20%;
}

.text {
    font-size: 150%;
    text-align: center;
    padding: 7%;
}

.link {
    margin-top: 10%;
    padding: 0%;
}

.valid{
    color: red;
    font-size: 60%;
}